.App {
    max-width: 70vw;
    margin: 0 auto;
}

.todo-list {
    display: flex;
    justify-content: start;
    width: 50vw;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
}

.todo-item {
    margin: 0;
    padding: 0;
}

.todo-item__checbox {
    margin-right: 15px;
}

.todo-item__text_complited {
    text-decoration: line-through;
}

.todo-item__remove {
    cursor: pointer;
    margin-left: 15px;
}
